# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Poetry
.cache/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log